* {
    font-family: 'Figtree';
    font-size: 16px;
    box-sizing: border-box;
}

body {
    background-color: hsl(47, 88%, 63%);
}

#substrate{
    background-color: hsl(0, 0%, 100%);
    border-radius: 25px;
    padding: 25px;
    border: 1px solid hsl(0, 0%, 7%);
    max-width: 425px;
    width: 90%;
    margin: auto;
    box-shadow: 10px 10px hsl(0, 0%, 7%);
}

.tag{
    width:fit-content;
    background-color: hsl(47, 88%, 63%);
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

#info{
    color: hsl(0, 0%, 42%);
}

#whoami{
    font-size: large;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 30px;
}

#whoami img{
    max-width: 40px;
    vertical-align: middle;
    margin-right: 10px;
}

#illustration{
    border-radius: 10px;
    margin-bottom: 25px;
    width: 100%;
}

#title{
    font-size: x-large;
    font-weight: 900;
}

#title:hover{
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}